body {
    background-image: url("../images/cow.jpg");
}

.background-colour {
    background-color: blue;
}

.background-colour:hover {
    background-color: red;
}

.rabbit-background {
    background-image: url("../images/rabbit.jpg");
}

.cow-background {
    background-image: url("../images/cow.jpg");
}

.red-dotted-border {
    border: dotted red medium;
}

.blue-solid-border-circular-corners {
    border: solid blue;
    border-radius: 50%;
}

.bigger-font-size-percentage {
    font-size: 130%;
}

.bigger-font-size {
    font-size: 15ch;
}

.start-from-left {
    float: left;
    background:yellowgreen;
}

.start-from-left p {
    font-family: "Comic Sans MS", serif;
    font-weight: 600;
}

.start-from-left:hover {
    float: right;
    background: orangered;
    border-radius: 15%;
    font-family: Tunga, serif;
}

.start-from-right {
    float: right;
}

